.appContainer {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
}

.finalText {
  font-size: 3rem;
  color: blue;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  margin: 30px 30px;
}

.keyboardContainer {
  align-self: stretch;
}
